.container_details {
  flex-grow: 1;
  flex-basis: 0;
}

.container_inner_details {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 20px;
  column-gap: 20px;
}

.container_inner_details img {
  width: 100%;
}

.left_info {
  display: flex;
  flex-direction: column;
}

.right_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pokemon_types {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pokemon_type {
  border-radius: 10px;
  padding-inline: 15px;
  background-color: red;
  font-weight: 700;
  font-size: 1.2rem;
}

.pokemon_image {
  position: relative;
}

.pokemon_name {
  font-size: 2.6rem;
}

.grass {
  background-color: rgb(12, 107, 12);
}

.poison {
  background-color: rgb(122, 15, 165);
}

.fire {
  background-color: rgb(255, 0, 0);
}

.water {
  background-color: rgb(20, 34, 156);
}

.bug {
  background-color: rgb(101, 165, 18);
}

.flying {
  background-color: rgb(85, 209, 209);
}

.normal {
  background-color: rgb(105, 105, 105);
}

.electric {
  background-color: rgb(211, 176, 20);
}

.ground {
  background-color: rgb(82, 67, 1);
}

.fairy {
  background-color: rgb(196, 5, 221);
}

.ground {
  background-color: rgb(82, 67, 1);
}

.ice {
  background-color: rgb(19, 141, 175);
}

.psychic {
  background-color: rgb(217, 72, 236);
}

.rock {
  background-color: rgb(129, 64, 4);
}

.fighting {
  background-color: rgb(80, 43, 0);
}

.steel {
  background-color: rgb(110, 110, 109);
}

.pokemon_stats {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 10px;
}

.pokemon_stat {
}

.inner_container {
}

.pokemon_types_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  width: 90%;
}

#myProgress {
  width: 100%;
  background-color: #333232;
  border-radius: 5px;
}

#myBar {
  height: 20px;
  background-color: rgb(25, 171, 25);
  border-radius: 5px;
}

.weakness_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px solid transparent;
}

.ability {
  border-radius: 10px;
  padding-inline: 15px;
  background-color: rgb(66, 57, 57);
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
  border: 2px solid transparent;
}

.ability:hover {
  background-color: rgb(49, 43, 43);
  border: 2px solid white;
}

.ability_popup {
  position: absolute;
  background-color: rgb(49, 43, 43);
  top: 0;
  left: 50%;
  transform: translate(-50%, 45px);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 250px;
  height: 150px;
  padding: 10px;
}

.ability_popup:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 43%;
  z-index: 1;
  border: solid 15px transparent;
  border-bottom-color: rgb(49, 43, 43);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

.pokemon_ability {
  margin-left: 50px;
}

.stats_container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_container {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.no_background {
  background-color: transparent !important;
}

.sprite_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_container {
  display: flex;
  gap: 40px;
}
